$colorBlanco : #fff;
$cienPorciento : 100%;
$fontWeight: 500;
$fontLine : 32px;

body {
    background-color: #F2EAE2;

    .contenedor {
        height: 650px;
    }

    .contenedor--principal {
        width: 600px;
        height: 450px;
        border-radius: 10px;

        display: flex;
        flex-direction: row;

        .imagen--desktop {
            border-radius: 20px 0 0 20px;
            width: $cienPorciento;
            height: $cienPorciento;
        }

        .imagen--mobile {
            display: none;
        }
    }

    .contenedor-frases {
        border-radius: 0 20px 20px 0;
        width: $cienPorciento;
        background-color: $colorBlanco;
        padding-left: 35px;

        .perfume {
            color: #6C7289;
            height: 15px;
            width: 92px;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: $fontWeight;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 5px;
        }

        .titulo {
            color: #1C232B;
            width: 236px;
            height: 96px;



            font-family: 'Fraunces', serif;
            font-style: normal;
            font-weight: 700;
            font-size: $fontLine;
            line-height: $fontLine;
        }

        .parrafo {
            color: #6C7289;
            width: 237px;
            height: 92px;



            font-family: 'Montserrat';
            font-style: normal;
            font-weight: $fontWeight;
            font-size: 14px;
            line-height: 23px;
        }

        .precios--dos {
            margin-top: 50px;
            margin-bottom: 30px;

            .precio--descuento {
                color: #3D8168;
                height: 32px;
                width: 127px;



                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 700;
                font-size: $fontLine;
                line-height: $fontLine;
            }

            .precio {
                color: #6C7289;
                width: 48px;
                height: 23px;


                font-family: 'Montserrat';
                font-style: normal;
                font-weight: $fontWeight;
                font-size: 13px;
                line-height: 23px;
                text-decoration-line: line-through;
            }
        }

        .contenedor--carrito {
            background: #3D8168;
            width: 236px;
            height: 48px;
            border-radius: 8px;

            .carrito {
                color: $colorBlanco;

            }

            a {
                text-decoration: none;
                color: $colorBlanco;
                font-weight: 500;
            }

            &:hover {
                background-color: #285343;
            }
        }
    }

}


$widthMedia : 295px;
$bottomMedia : 20px;

@media (min-width:375px) and (max-width:650px) {
    body {
        .contenedor {
            position: relative;
            bottom: $bottomMedia;
            height: 800px;

            .contenedor--principal {
                display: flex;
                flex-direction: column;

                width: 343px;
                height: 611px;
                border-radius: 10px;

                .imagen--desktop {
                    display: none;
                }

                .imagen--mobile {
                    border-radius: 20px 20px 0 0;
                    display: inline-block;
                    height: 240px;
                }

                .contenedor-frases {
                    border-radius: 0 0 20px 20px;

                    .titulo {
                        width: $widthMedia;
                    }

                    .parrafo {
                        position: relative;
                        bottom: $bottomMedia;
                        width: $widthMedia;
                    }

                    .contenedor--carrito{
                        width: 275px;
                        position: relative;
                        bottom: $bottomMedia;
                    }
                }
            }
        }
    }
}